<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(dashboard:dashboard)">
    <ion-router-outlet name="dashboard"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Reminder" icon="calendar" href="/tabs/(reminder:reminder)">
    <ion-router-outlet name="reminder"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Records" icon="medkit" href="/tabs/(records:records)">
    <ion-router-outlet name="records"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Account" icon="person" href="/tabs/(account:account)">
    <ion-router-outlet name="account"></ion-router-outlet>
  </ion-tab>
</ion-tabs>