<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center >
      <p>Profile</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="profileForm">

    <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label position="floating" color="primary">Number</ion-label>
        <ion-input type="tel" formControlName="mobile"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-button type="submit"  (click)="update()">Submit</ion-button>
    </ion-item>

  </form>

</ion-content>