
<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-title> <b>Account</b> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

    <ion-card text-center (click)="profilePage()">
      <ion-card-header>
        Profile
      </ion-card-header>
    </ion-card>

    <ion-card text-center (click)="addressPage()">
      <ion-card-header>
        Address
      </ion-card-header>
    </ion-card>

    <ion-card text-center (click)="helpPage()">
      <ion-card-header>
        Help
      </ion-card-header>
    </ion-card>

    <ion-card text-center (click)="signoutPage()">
      <ion-card-header>
        Signout
      </ion-card-header>
    </ion-card>

</ion-content>
